html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.banner-image {
    background-size: cover;
}

.banner-image-home {
    background-image: url('../images/greece1.jpg');
}

.banner-image-login {
    background-image: url('../images/login.jpeg');
}

.banner-image-register {
    background-image: url('../images/beach.jpg');
}

.banner-image-mybookings {
    background-image: url('../images/beach3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link {
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin: 0.25rem;
}

.navbar-nav {
    list-style-type: none;
}

.navbarto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.social-icon {
    color: white;
    margin-right: 10px;
    font-size: 24px;
    text-decoration: none;
}

.social-icon:hover {
        color: #007bff;
}

.container.my-5.d-grid.gap-5 {
    padding-top: 70px;
}

footer {
    margin-top:0px;
}

.mt-5 {
    margin-top: 0px;
}

.card {
    background-color: rgba(255, 255, 255, 0.6);
}

.card-body {
    background-color: rgba(255, 255, 255, 0.6);
}

.custom-nav-link {
    padding: 0.5rem 1rem;
}

<<<<<<< HEAD
.containercard {
    display: flex;
    width: 90vw;
}


.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

    .panel h3 {
        font-size: 24px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin: 0;
        opacity: 0;
    }

    .panel.active {
        flex: 5;
    }

        .panel.active h3 {
            opacity: 1;
            transition: opacity 0.3s ease-in 0.4s;
        }

@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }

}

.products{
    width:90%;
    padding:20px;
    margin:70px auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.boxi{
    position:relative;
    width:250px;
    margin:0 10px;
    box-shadow:0 0 20px 2px rgba(0,0,0,.1);

}

.overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    opacity:0;
    transition:opacity 0.3s ease;
    display:flex;
    justify-content:center;
    align-items:center;
}

.text {
    color: white;
    font-size: 20px;
    font-weight: bold;
}


.imagi{
    display:block;
    width:100%;
    border-radius:5px;
}

.boxi:hover{
    transform:scale(1.3);
    z-index:2;
}

.oferta{
    padding-top:100px;
    margin-left:170px;
}

.boxi:hover .overlay {
    opacity: 1;
}
=======
>>>>>>> main
