@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<body class="home">

    <div class="banner-image banner-image-home w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="content text-center">
            <h1 class="text-white">Welcome to Travel Experts!</h1>
            <form asp-controller="Home" asp-action="SearchPackages" method="get">
                <div class="input-group">
                    <select class="form-control btn-outline-secondary" name="selectedPackage" required>
                        <option value="">Where do you want to go next?</option>
                        @foreach (var packageName in ViewBag.PackageNames)
                        {
                            <option value="@packageName">@packageName</option>
                        }
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="classi">
        <h2 class="oferta">ALL OFFERS</h2>
    <div class="products">
        <div class="boxi">
            <img class="imagi" src="~/images/air1.jpg" />
                <div class="overlay">
                    <div class="text">FLIGHTS</div>
                </div>
        </div>
        <div class="boxi">
            <img class="imagi" src="~/images/car1.jpg" />
                <div class="overlay">
                    <div class="text">RENTALS</div>
                </div>
        </div>
        <div class="boxi">
            <img class="imagi" src="~/images/ferris1.jpg" />
                <div class="overlay">
                    <div class="text">ENTERTAIMENT</div>
                </div>
        </div>
        <div class="boxi">
            <img class="imagi" src="~/images/hotel21.jpg" />
                <div class="overlay">
                    <div class="text">HOTELS</div>
                </div>
        </div>
    </div>
        <div class="products">
            <div class="boxi">
                <img class="imagi" src="~/images/train1.jpg" />
                <div class="overlay">
                    <div class="text">TRAINS</div>
                </div>
            </div>
            <div class="boxi">
                <img class="imagi" src="~/images/insurance1.jpg" />
                <div class="overlay">
                    <div class="text">INSURANCE</div>
                </div>
            </div>
            <div class="boxi">
                <img class="imagi" src="~/images/tours1.jpg" />
                <div class="overlay">
                    <div class="text">TOURS</div>
                </div>
            </div>
            <div class="boxi">
                <img class="imagi" src="~/images/yatchs1.jpg" />
                <div class="overlay">
                    <div class="text">YATCHS</div>
                </div>
            </div>
        </div>

    </div>



    

<script src="~/js/site.js"></script>

</body>


