################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/travelexpertswebsite/v17/workspaceFileList.bin
/.vs/travelexpertswebsite/FileContentIndex/21137fed-c62f-4cb7-ab7a-41a2e4a2041b.vsidx
/.vs/travelexpertswebsite/FileContentIndex/1870fe72-47fd-4d60-a472-216d71e88684.vsidx
/.vs/travelexpertswebsite/FileContentIndex/130c1c97-054f-4489-a59e-0124e2e85ce4.vsidx
/.vs/travelexpertswebsite/FileContentIndex/0da94166-015d-4f05-9dde-4cf250ad4bae.vsidx
/.vs/slnx.sqlite
/.vs/slnx.sqlite
